<template>
  <div>
    <label>
      <h1>
        รายชื่ออาจารย์
        <b-button variant="success" @click="addNew" style="width:150px;"
          >เพิ่ม</b-button
        >
      </h1>
    </label>

    <b-nav-form class="float-right" style="margin-top:10px;">
      <b-form-input class="mr-sm-2" placeholder="Search"></b-form-input>
      <b-button class="my-2 my-sm-0" type="submit" variant="info"
        >ค้นหา</b-button
      >
    </b-nav-form>

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="ชื่อ-นามสกุล" label-for="name">
          <b-form-input
            id="name"
            v-model="form.name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="สาขา" label-for="major">
          <b-form-select
            id="major"
            v-model="form.major"
            :options="majorOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group label="เบอร์โทร" label-for="phone">
          <b-form-input id="phone" v-model="form.phone" required></b-form-input>
        </b-form-group>

        <b-form-group label="อีเมล" label-for="email">
          <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-table
      striped
      hover
      :items="userLists"
      :fields="fields"
      id="my-table"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template v-slot:cell(operation)="data">
        <b-button variant="warning" @click="editUser(data.item)">แก้ไข</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">ลบ</b-button>
      </template>
    </b-table>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      perPage: 3,
      currentPage: 1,
      title: 'เพิ่มอาจารย์',
      form: {
        id: -1,
        name: '',
        major: null,
        phone: '',
        email: ''
      },
      majorOptions: [
        { text: 'Select One', value: null },
        { value: 'CS', text: 'วิทยาการสารสนเทศ(CS)' },
        { value: 'IT', text: 'เทคโนโลยีสารสนเทศ(IT)' },
        { value: 'SE', text: 'วิศวกรรมซอฟต์แวร์(SE)' }
      ],
      userLists: [
        {
          id: 1,
          name: 'Phatcharapol Saenrang',
          major: 'CS',
          phone: '0982564766',
          email: 'ace@gmail.com'
        },
        {
          id: 2,
          name: 'Sompong Prera',
          major: 'IT',
          phone: '0982564755',
          email: 'Sompong@gmail.com'
        }
      ],
      lastId: 3,
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'major', label: 'สาขา' },
        { key: 'phone', label: 'เบอร์โทร' },
        { key: 'email', label: 'อีเมล' },
        'operation'
      ]
    }
  },
  methods: {
    addNew () {
      console.log('Add new user')
      this.title = 'เพิ่ม'
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ' + user)
      console.log(user)
      this.title = 'แก้ไข'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ' + user)
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือ ไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        major: null,
        phone: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass Validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userLists.push(user)
    },
    updateUser (user) {
      const index = this.userLists.findIndex(item => item.id === user.id)
      this.userLists.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userLists.findIndex(item => item.id === user.id)
      this.userLists.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อบริบัท'
      }
    },
    validFeedbackName () {
      return this.stateType === true ? 'สำเร็จ' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือกโครงการ'
      }
    },
    validFeedbackType () {
      return this.stateType === true ? 'สำเร็จ' : ''
    },
    rows () {
      return this.userLists.length
    }
  }
}
</script>
